.about-page-container {
  margin: 40px auto;
  display: flex;
  justify-content: space-between;

  .about-information,
  .about-our-team {
    flex-basis: 48%;
    img {
      width: 100%;
      height: 300px;
    }
  }
}
