.contact-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 55px 15px;
}

.header,
.questions-header {
  font-weight: bolder;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: dashed #d9d9d9 1px;
}

.header {
  font-size: 40px;
}

.mission-container {
  margin-bottom: 25px;
  p {
    margin-bottom: 15px;
  }
  a {
    display: inline-block;
    margin: 5px 0 10px;
  }
}

.questions-header {
  font-size: 30px;
}

.contact-container {
  border: solid #e6e6e6 7px;
  padding: 25px 35px;
}

.contact-form-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.contact-submit {
  float: right;
}

@media only screen and (min-width: 989px) {
  .contact-banner-container {
    flex-direction: row;
    padding: 55px 0;
  }
  .mission-container,
  .contact-container {
    flex-basis: 48%;
  }

  .contact-form-info {
    padding-right: 15px;
  }

  .contact-form-info,
  .contact-form-message {
    width: 100%;
  }

  .contact-form-flex {
    flex-direction: row;
    justify-content: space-between;
    div {
      width: 50%;
    }
  }
}
