.gallery-sample-container {
  padding: 50px 0;
  background: #222;
  .gallery-sample-header {
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
  }
  .gallery-button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
