.banner-image-wrapper {
  margin: 55px 0 25px;
  display: flex;
  flex-wrap: wrap;
  .banner-image {
    width: 100%;
    margin-bottom: 30px;
    img {
      width: 100%;
    }
    h2 {
      margin: 15px 0;
      font-size: 24px;
      font-weight: bold;
    }
    p {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: 750px) {
    .banner-image-wrapper {
        flex-wrap: initial;
        justify-content: space-between;
        .banner-image {
            width: 30%;
        }
    }
}
