body {
  background: white;
}

main {
  min-height: calc(100vh - 194px);
}

.paragraph {
  line-height: 1.5;
  color: #999;
}

html,
body {
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 100%;
  margin: auto;
}

/////PAGE TITLES///////

h1,
h2,
h3 {
  line-height: 1.2;
}

h4 {
  font-size: 18px;
  margin-bottom: 7px;
}

.page-header {
  padding: 40px 0;
  background-color: #f2f2f2;
  background: url("./../images/Header/header.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}

.header-title {
  font-size: 48px;
  font-weight: bolder;
}

.header-subtitle {
  color: #808080;
  margin-top: 5px;
}

//////////////////////

.swiper-button-prev,
.swiper-button-next {
  color: white;
  filter: drop-shadow(rgba(0, 0, 0, 0.8) 0 0 3px);
}

.text-center {
  text-align: center;
}

.header-green {
  font-weight: bolder;
  color: $primary-color;
}

.link-button-green,
.link-button-trans {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  font-size: 18px;
  color: white;
  padding: 18px 22px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.link-button-green {
  background: $primary-color;
  border: $primary-color;
  &:hover {
    background: $secondary-color;
    border: $secondary-color;
  }
}

.link-button-trans {
  margin-left: 10px;
  border: solid #b3b3b3 1px;
  &:hover {
    border: solid white 1px;
  }
}

.modal-backdrop {
  opacity: 0.8 !important;
}

/////////////////////////

.contact-input,
.contact-textfield {
  color: #757575;
  display: block;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  background: #f8f8f8;
  border: solid #f3f3f3 1px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.contact-input {
  height: 45px;
}

.contact-textfield {
  height: calc(100% - 20px);
}

//////////////////////////

@media only screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media only screen and (min-width: 989px) {
  .container {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
  }

  .page-header {
    padding: 85px 0 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
