.nav-wrapper {
  z-index: 1000;
}

.nav-container {
  margin: 0 auto;
  nav {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 5px 13px;
    justify-content: space-between;
    .logo-wrapper {
      line-height: 0;
      .logo {
        display: block;
        img {
          height: 80px;
        }
      }
    }
    .menu-button {
      background-color: $primary-color;
      border-radius: 0px;
      font-weight: 700;
      padding: 10px 15px;
      color: white;
      .burger {
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        margin-left: 10px;
        .icon-bar {
          display: block;
          width: 18px;
          height: 3px;
          background: white;
          border-radius: 1px;
          &:nth-child(1n + 2) {
            margin-top: 3px;
          }
        }
      }
    }
    ul {
      display: none;
    }
    .showUl {
      position: relative;
      background: $primary-color;
      width: 100%;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 5px 0 0;
      padding: 0;
      li {
        &:nth-child(1n + 2) {
          border-top: solid rgba(250, 250, 250, 0.2) 1px;
        }
        a {
          display: block;
          color: white;
          font-size: 17px;
          font-weight: bold;
          padding: 15px 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .nav-container {
    width: 80%;
  }
}

@media only screen and (min-width: 989px) {
  .nav-wrapper {
    padding-top: 20px;
    height: 65px;
    position: relative;
    width: 100%;
    background-color: #333;
    .nav-container {
      background-color: white;
      width: 910px;
      nav {
        padding: 2px 5px;
        ul {
          position: absolute;
          right: 0;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 10px 0 50px;
          background-color: $primary-color;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            border-style: solid;
            border-color: transparent transparent transparent #ffffff;
            border-width: 0 0 84px 40px;
          }
          li {
            border: none;
            position: relative;
            a {
              color: white;
              padding: 32px 30px;
              font-size: 17px;
              font-weight: 700;
              &:before {
                position: absolute;
                content: "";
                left: -4px;
                top: calc(50% - 1px);
                width: 4px;
                height: 4px;
                background-color: #00994a;
                border-radius: 50%;
              }
              &:hover {
                &:after {
                  position: absolute;
                  left: 0;
                  bottom: -33px;
                  content: "";
                  width: 100%;
                  height: 4px;
                  background-color: $secondary-color;
                }
              }
            }
          }
        }
        .menu-button {
          display: none;
        }
      }
    }
  }

  .active-nav-page {
    &:after {
      position: absolute;
      left: 0;
      bottom: -33px;
      content: "";
      width: 100%;
      height: 4px;
      background-color: $secondary-color;
    }
  }
}
