.nav-wrapper {
  z-index: 1000;
}

.nav-container {
  margin: 0 auto;
}

.nav-container nav {
  padding: 5px 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container nav .logo-wrapper {
  line-height: 0;
}

.nav-container nav .logo-wrapper .logo {
  display: block;
}

.nav-container nav .logo-wrapper .logo img {
  height: 80px;
}

.nav-container nav .menu-button {
  background-color: #00803e;
  border-radius: 0px;
  font-weight: 700;
  padding: 10px 15px;
  color: white;
}

.nav-container nav .menu-button .burger {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  margin-left: 10px;
}

.nav-container nav .menu-button .burger .icon-bar {
  display: block;
  width: 18px;
  height: 3px;
  background: white;
  border-radius: 1px;
}

.nav-container nav .menu-button .burger .icon-bar:nth-child(1n + 2) {
  margin-top: 3px;
}

.nav-container nav ul {
  display: none;
}

.nav-container nav .showUl {
  position: relative;
  background: #00803e;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0 0;
  padding: 0;
}

.nav-container nav .showUl li:nth-child(1n + 2) {
  border-top: solid rgba(250, 250, 250, 0.2) 1px;
}

.nav-container nav .showUl li a {
  display: block;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 15px 25px;
}

@media only screen and (min-width: 769px) {
  .nav-container {
    width: 80%;
  }
}

@media only screen and (min-width: 989px) {
  .nav-wrapper {
    padding-top: 20px;
    height: 65px;
    position: relative;
    width: 100%;
    background-color: #333;
  }
  .nav-wrapper .nav-container {
    background-color: white;
    width: 910px;
  }
  .nav-wrapper .nav-container nav {
    padding: 2px 5px;
  }
  .nav-wrapper .nav-container nav ul {
    position: absolute;
    right: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10px 0 50px;
    background-color: #00803e;
  }
  .nav-wrapper .nav-container nav ul:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
    border-width: 0 0 84px 40px;
  }
  .nav-wrapper .nav-container nav ul li {
    border: none;
    position: relative;
  }
  .nav-wrapper .nav-container nav ul li a {
    color: white;
    padding: 32px 30px;
    font-size: 17px;
    font-weight: 700;
  }
  .nav-wrapper .nav-container nav ul li a:before {
    position: absolute;
    content: "";
    left: -4px;
    top: calc(50% - 1px);
    width: 4px;
    height: 4px;
    background-color: #00994a;
    border-radius: 50%;
  }
  .nav-wrapper .nav-container nav ul li a:hover:after {
    position: absolute;
    left: 0;
    bottom: -33px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #00b356;
  }
  .nav-wrapper .nav-container nav .menu-button {
    display: none;
  }
  .active-nav-page:after {
    position: absolute;
    left: 0;
    bottom: -33px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #00b356;
  }
}

footer {
  background: #222;
}

.swiper-container {
  background-color: black;
}

.swiper-container .jumbotron-image {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  color: white;
}

.slideImage1,
.slideImage2,
.slideImage3 {
  height: auto;
}

.slide-content {
  width: 500px;
  text-align: center;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide-buttons {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.slide-buttons button {
  padding: 10px 13px;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

body {
  background: white;
}

html {
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=style.css.map */