$primary-color: #00803e;
$secondary-color: #00994a;
$footer-primary-color: #737373;
$footer-hover-color: #e6e6e6;

@import "./components/nav";
@import "./components/footer";
@import "./components/jumbotron";
@import "./components/homebanner";

body {
  background: white;
}

html, body {
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 989px) {
  .container {
    max-width: 960px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}