$primary-color: #00803e;
$secondary-color: #00994a;

@import "./components/nav";
@import "./components/footer";
@import "./components/jumbotron";

body {
    background: white;
}

html {
    font-family: "Roboto Slab", serif;
}