.nav-wrapper {
  z-index: 1000;
}

.nav-container nav {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 5px 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container nav .logo-wrapper {
  line-height: 0;
}

.nav-container nav .logo-wrapper .logo {
  display: block;
}

.nav-container nav .logo-wrapper .logo img {
  height: 80px;
}

.nav-container nav .menu-button {
  background-color: #00803e;
  border-radius: 0px;
  font-weight: 700;
  padding: 10px 15px;
  color: white;
}

.nav-container nav .menu-button .burger {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  margin-left: 10px;
}

.nav-container nav .menu-button .burger .icon-bar {
  display: block;
  width: 18px;
  height: 3px;
  background: white;
  border-radius: 1px;
}

.nav-container nav .menu-button .burger .icon-bar:nth-child(1n + 2) {
  margin-top: 3px;
}

.nav-container nav ul {
  display: none;
}

.nav-container nav .showUl {
  position: relative;
  background: #00803e;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0 10px;
  padding: 0;
}

.nav-container nav .showUl li:nth-child(1n + 2) {
  border-top: solid rgba(250, 250, 250, 0.2) 1px;
}

.nav-container nav .showUl li a {
  display: block;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 15px 25px;
}

@media only screen and (min-width: 989px) {
  .nav-wrapper {
    padding-top: 20px;
    height: 65px;
    position: relative;
    width: 100%;
    background-color: #222;
  }
  .nav-wrapper .nav-container {
    background-color: white;
  }
  .nav-wrapper .nav-container nav {
    padding: 2px 0 2px 30px;
  }
  .nav-wrapper .nav-container nav ul {
    position: absolute;
    right: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 30px 0 80px;
    background-color: #00803e;
  }
  .nav-wrapper .nav-container nav ul:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
    border-width: 0 0 84px 40px;
  }
  .nav-wrapper .nav-container nav ul li {
    border: none;
    position: relative;
  }
  .nav-wrapper .nav-container nav ul li a {
    color: white;
    padding: 32px 30px;
    font-size: 17px;
    font-weight: 700;
  }
  .nav-wrapper .nav-container nav ul li a:before {
    position: absolute;
    content: "";
    left: -4px;
    top: calc(50% - 1px);
    width: 4px;
    height: 4px;
    background-color: #00994a;
    border-radius: 50%;
  }
  .nav-wrapper .nav-container nav ul li a:hover:after {
    position: absolute;
    left: 0;
    bottom: -33px;
    content: "";
    left: 2%;
    width: 96%;
    margin: 0 auto;
    height: 4px;
    background-color: #00994a;
  }
  .nav-wrapper .nav-container nav .menu-button {
    display: none;
  }
  .active-nav-page:after {
    position: absolute;
    left: 0;
    bottom: -33px;
    content: "";
    left: 2%;
    width: 96%;
    height: 4px;
    background-color: #00994a;
  }
}

footer {
  position: relative;
  bottom: 0;
  background: #222;
  padding: 20px;
}

.footer-social-icons {
  font-size: 24px;
  margin: 0 auto;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social-icons li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #737373;
  width: 40px;
  height: 40px;
  border: solid #737373 1px;
  border-radius: 100%;
}

.footer-social-icons li a:hover {
  border-color: #e6e6e6;
  color: #e6e6e6;
}

.footer-social-icons li a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-copyright {
  padding-top: 20px;
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-copyright li {
  padding: 5px;
}

.footer-copyright a {
  color: #737373;
  text-decoration: none;
}

.footer-copyright a:hover {
  color: #e6e6e6;
}

.swiper-container {
  background-color: black;
}

.swiper-container .jumbotron-image {
  vertical-align: bottom;
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  color: white;
  position: absolute;
  top: 20%;
}

.slideImage1,
.slideImage2,
.slideImage3 {
  height: auto;
}

.slide-content {
  display: inline-block;
  background: #222;
  font-weight: bold;
  color: white;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  height: auto;
}

.slide-content h2 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 40px;
}

.swiper-pagination {
  display: none;
}

.slide-button-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-button-container .slide-button {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  font-size: 18px;
  color: white;
  background-color: transparent;
  padding: 18px 22px;
  text-decoration: none;
  padding: 18px 22px;
}

.slide-button-container .slide-button:nth-child(odd) {
  margin-right: 10px;
  background: #00803e;
  border: #00803e;
}

.slide-button-container .slide-button:nth-child(odd):hover {
  background: #00994a;
  border: #00994a;
}

.slide-button-container .slide-button:nth-child(even) {
  border: solid #b3b3b3 1px;
}

.slide-button-container .slide-button:nth-child(even):hover {
  border: solid white 1px;
}

.slide-button {
  line-height: 1;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

@media only screen and (min-width: 750px) {
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    top: 30%;
  }
}

@media only screen and (min-width: 989px) {
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    position: absolute;
    top: 50%;
  }
  .swiper-pagination {
    display: block;
  }
  .slide-content {
    background: transparent;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .slide-content h2 {
    font-size: 45px;
  }
  .slide-button-container {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slide-button-container .slide-button {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    color: white;
    background-color: transparent;
    padding: 18px 22px;
  }
}

.banner-image-wrapper {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner-image-wrapper .banner-image {
  width: 100%;
  margin-bottom: 30px;
}

.banner-image-wrapper .banner-image img {
  width: 100%;
}

.banner-image-wrapper .banner-image h2 {
  margin: 15px 0;
  font-size: 24px;
  font-weight: bold;
}

.banner-image-wrapper .banner-image p {
  margin-bottom: 10px;
}

@media only screen and (min-width: 750px) {
  .banner-image-wrapper {
    -ms-flex-wrap: initial;
        flex-wrap: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .banner-image-wrapper .banner-image {
    width: 30%;
  }
}

body {
  background: white;
}

html, body {
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 989px) {
  .container {
    max-width: 960px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
/*# sourceMappingURL=style.css.map */