$primary-color: #00803e;
$secondary-color: #00994a;
$footer-primary-color: #737373;
$footer-hover-color: #e6e6e6;

@import "./components/nav";
@import "./components/footer";
@import "./components/jumbotron";
@import "./components/homebanner";

body {
  background: white;
}

html {
  font-family: "Roboto Slab", serif;
}
