@import "./base/reset";

$primary-color: #00803e;
$secondary-color: #00994a;
$dark-primary-color: #737373;
$dark-hover-color: #e6e6e6;

@import "./base/base";
@import "./partials/nav";
@import "./partials/footer";
@import "./partials/jumbotron";
@import "./partials/homebanner";
@import "./partials/gallery-sample";
@import "./partials/contact-banner";
@import "./partials/about-page";
@import "./partials/services-page";
@import "../components/OurTeam/our-team";
@import "./partials/gallery-page";
@import "./partials/contact-page";
